<app-header></app-header>

<div class="main-container">

  <mat-sidenav-container>

    <mat-sidenav #sidenav> <!--Esse aqui é a coluna que fica a  esquerdao menu que aparece qdo perta o botão-->
              Sidenav content
    </mat-sidenav>



    <mat-sidenav-content>

      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
  <router-outlet></router-outlet>

</div>

<app-footer></app-footer>
